body{
    font-family: system-ui;
}

.arrow {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    position: relative;
    width: 0.45em;
    border-color: #757575;
}

.circle{
    height: 0.45em;
    width: 0.45em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.d-flex{
    display: -ms-flexbox!important;
    display: flex!important;
}

.align-items-center{
    align-items: center;
}

.p-2{
    padding: 8px;
}

.mr-2{
    margin-right: 8px;
}

.mx-2{
    margin-left: 8px;
    margin-right: 8px;
}

.mt-2{
    margin-top: 8px;
}

.pointer {
    cursor: pointer;
}

.transition {
    transition: all .3s ease-in-out;
}

.transition.rotate-180 {
    transform: rotate(135deg);
    transform-origin: 50% 50%;
}

.node .node-collapsed .rotate-180 {
    transform: rotate(45deg);
}

.node .node-details {
    background: #f2f2f2;
    border-radius: 5px;
}